#knop{
	text-align: center;
	background-color: blue; 
	color: white;
}
body{
	background-color: yellow;

}

#onderkant{
	background-color: blue; 
	color: white;

}

#bovenkant{
	background-color: blue; 
	color: white;

}